<p>dashboard works!</p>
<div class="main">
    <div class="left">
        <div class="center">
        <h2>Ng2-Charts</h2><hr>
        
        <h4 routerLink="line-chart">Line-Chart</h4>
        <h4 routerLink="pie-chart">Pie-Chart</h4>
        <h4 routerLink="bar-chart">Bar-Chart</h4>
        <h4 routerLink="doughnut-chart">Doughnut-Chart</h4>
        <h4 routerLink="polararea-chart">PolarArea-Chart</h4>
        <h4 routerLink="radar-chart">Radar-Chart</h4>
        <h4 routerLink="bubble-chart">Bubble-Chart</h4>
        <h4 routerLink="scatter-chart">Scatter-Chart</h4><br>
        <h3 routerLink="apilinechart">API Line-Chart</h3>
        <h3 routerLink="apibarchart">API Bar-Chart</h3>
        <h3 routerLink="apipiechart">API PIE-Chart</h3>
        </div>
    </div>
    <div class="right">
        <router-outlet></router-outlet> 
    </div>
