<p>allcharts works!</p>
<div class="main">
    <app-bubble-chart></app-bubble-chart>
    <app-radar-chart></app-radar-chart>
    <app-scatter-chart></app-scatter-chart>
    <app-doughnut-chart></app-doughnut-chart>
    <app-bar-chart></app-bar-chart>
    <app-pie-chart></app-pie-chart>
    <app-line-chart></app-line-chart>
    <app-polararea-chart></app-polararea-chart>
    <app-apilinechart></app-apilinechart>
    <app-apibarchart></app-apibarchart>
    <app-apipiechart></app-apipiechart>
   
</div>